# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
js/node_modules
js/package-lock.json
portfolio_rust/target
portfolio_rust/Cargo.lock
program/target
program/Cargo.lock
program_portfolio/target
program_portfolio/Cargo.lock
#git config --global core.excludesFile ~/.gitignore
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
